body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.top-side{
    height: 1000px;
}
h1{
    font-size: 70px;
}
h2{
    color: dimgrey;
    font-size: 50px;
    
}
h3{
    font-size: 20px;
    color: dimgray;
    
}
h4{
    font-size: 50px;
    text-align: center;
    color: dimgray;
}
p{
    text-align: center;
    color: dimgray;
}
.text-highlight{
    color: sandybrown;
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}

.link-button{
    position: absolute;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato,lightsalmon);
    padding: 15px 40px;
    margin: 50px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    box-shadow: 10px 10px 30px orange;
}
.middle-side{
    background-image: url("image/Frame\ 58.jpg");
    background-size: 100% 100%;
    height: 800px;
    

}
#female-image{
    width: 55%;
    margin: 60px;
}

.recipies{
    height: 500px;
}

.card-container{
    display: flex;
    width: 23%;
    margin: 5%;
    float: left;
    margin: 4%;
    padding-left: 2%;
}
.recipies h1{
    text-align: center;
    font-size: 60px;
    color: orange;
}
.recipies p{
    text-align: center;
    font-size: 18px;
    color: #363636;
}
.card{
    margin:20px;
    padding: 20px;
    box-shadow: 1px 0px 27px 8px dimgray;
    border-radius: 25px;
}

.card img{
    width: 100%;
    border-radius: 10px;
}
.card h2{
    color: orange;
}
.card p{
    text-align: left;
    font-size: 16px;
    line-height: 20px;
}



.footer-contend{
    margin-top: 500px;
    height: 210px;
    background-color: #0B0D17;
    color: white;
    text-align: center;
    padding-top: 100px;
}
